<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rust Elm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Learn how to build production-ready web apps with Elm, Rust, and TailwindCSS. Get expert tutorials, tips, and insights on leveraging the power of elm-watch for an efficient development experience.">
  <meta name="keywords" content="Elm, Rust, TailwindCSS, elm-watch, web development, web apps, production-ready, frontend, backend, full stack, tutorials, tips, insights">
  <script src="/main.js"></script>
  <link id="css" rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="app"></div>
  <script>
    Elm.Main.init({
      node: document.getElementById('app'),
      flags: {{{flags}}}
    });
  </script>
</body>
</html>
